<%- include('header1.ejs') %>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; ">
<div style="border-radius: 10px; background-color: rgb(22, 24, 28); border: 1px solid rgb(113, 118, 123); width: fit-content; padding: 20px;margin: 20px;">
    <span style="font-weight: bold;">
        <%=result[0].f_name%> <%=result[0].m_name%> <%=result[0].l_name%>
    </span>
    @<%=result[0].username%>
    <br/><span style="font-weight: bold; margin-top: 10px;">About: </span>
    <%=result[0].about%>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <form action="/profile_submit" method="post">
        
        <div style="width:350px;margin: 50px;">
            <h3>Update Details</h3>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <label>First&nbsp;Name</label>
                <input type="text" name="fname" value="<%=result[0].fname%>"  style="width: 200px; height: 30px; margin-left: 20px; text-align: center; border-radius: 20px; margin-top: 10px; background-color: white; display: flex; justify-content: center; align-items: center;" />
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <label>Middle&nbsp;Name</label>
                <input type="text" name="mname" value="<%=result[0].mname%>"  style="width: 200px; height: 30px; margin-left: 20px; text-align: center; border-radius: 20px; margin-top: 10px; background-color: white; display: flex; justify-content: center; align-items: center;" />
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <label>Last&nbsp;Name</label>
                <input type="text" name="lname" value="<%=result[0].lname%>"  style="width: 200px; height: 30px; margin-left: 20px; text-align: center; border-radius: 20px; margin-top: 10px; background-color: white; display: flex; justify-content: center; align-items: center;" />
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <label>About&nbsp;You</label>
                <textarea id="about" placeholder="Write about yourself!" name="about_user" style="width: 200px;height: 100px;margin-left: 20px; text-align: center; border-radius: 20px; margin-top: 10px; background-color: white; display: flex; justify-content: space-between; align-items: center;" ></textarea>
            </div>
        </div>
        <button type="submit"  style="border-radius: 20px; margin-top: 10px; background-color: white; width: 80%; height: 40px; display: flex; justify-content: center; align-items: center;">
            Update
        </button>
                        
    </form>
</div>
</div>
</div>
</div>